-------------------------------------------------------
Pokémon Information:
This POKEMON is number {{ Number }}
Name is {{ Name }} with TYPES of {{ Type1 }} {{ Type2 }}
"HP": "{{ HP }}",
"Attack": "{{ Attack }}",
"Defense": "{{ Defense }}",
"SpecialAttack": "{{ SpecialAttack }}",
"SpecialDefense": "{{ SpecialDefense }}",
"Speed": "{{ Speed }}"
-------------------------------------------------------