edit {{ Number }}
  set name {{ Name }} 
  set type1 {{ Type1 }} 
  set type2 {{ Type2 }}
  set horsepower {{ HP }}
  set attackdefence {{ Attack }},{{ Defense }}
  set specials {{ SpecialAttack }},{{ SpecialDefense }}
  set speedygonzalez {{ Speed }}
next