    #---------------------------
    #
    #                       F  
    #    (\__/)      T      E  
    #    (o^.^)      C with E  
    #    z(_(")(")   P      L  
    #                       S
    #
    #    Hello, {{ name }}!
    #
    #---------------------------

Your birthdate is {{ birthdate }}
This means you are {{ age }} years old

FUN FACT: You were born on a {{ dayOfWeek }}

Welcome to the {{ project_name }} Templates.
Feel free to explore.
